* {
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    background-image:url('../assets/background/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
}

ul#top-navbar{
    position: fixed;
    width: 100%;
    background: linear-gradient(to top,green,mediumseagreen);
    height: 12%;
    border-bottom: 2px solid wheat;
    
    
}


li.left{
    margin: 1% 1%;
    padding: 1%;
    font-size:1em;
    float: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: green;
}

li.left:hover{
    background-color:yellow;
}

li.left:active{
    background-color:burlywood;
}


input.nav-search, input.nav-search-btn{
    
    border: 1% 1%;
    margin: 1% 1%;
    padding-left:0.5%;
    padding-right: 1px ;
    float: right;
    height: 50%;
}

h1{
    text-align: center;
    padding-top: 8%;
    font-weight: bold;
    font-size: 50px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

h2{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

h3{
    color:black;
}

section#left, section#right{
    width: 25%;
    float: left;
    background-color:transparent;
}

.left-bar{
    margin-left: 15%;
    padding: 6%;
    background-color: green;
    text-align: justify;
    color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-bar-2{
    margin-top: 10%;
    margin-left: 15%;
    padding: 6%;
    background-color: green;
    text-align: justify;
    color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section#main{
    width: 45%;
    float: left;
    background-color:transparent;
}

.main-artikel{
    margin-left: 5%;
    padding: 6%;
    text-align: justify;
    color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
}

img.artikel{
    margin: 20px;
    float: left;
    height: 120px;
    width: 120px;
}

p{
    margin: 10px 10px;
}

.garis-putus{
    border-bottom:1px dashed;
    margin-bottom: 50px;
}

.garis-putus2{
    border-bottom:1px dashed;
}

{
    width: 20%;
    float: left;
    background-color: transparent;
}

.right-bar{
    margin-left: 10%;
    padding: 6%;
    background-color: green;
    text-align: justify;
    color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right-bar2{
    margin-top: 10%;
    margin-left: 10%;
    padding: 6%;
    background-color: green;
    text-align: justify;
    color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul.details{
    padding-left: 25px;
}

footer{
    clear: both;
    width: 100%;
    margin-bottom: auto;
    background-color: green;
    height: 70px;
    background-attachment: fixed;
}

.footer{
    text-align: center;
    font-weight: bold;
    font-stretch: expanded;
    padding-top: 25px;
}

h1:hover{
    color: whitesmoke;
}

h2:hover{
    color: yellow;
}

h3:hover{
    color:greenyellow
}

